<div class="container" ng-model="tours">
  <div class="row">

      <table class="table table-hover spotsContainer" ng-repeat="spot in tours.spots">
        <tr>
          <th>
            <!-- the following three tags are directives from tours.controller.js -->
            <tag-Price></tag-Price>
            <tag-Camera></tag-Camera>
            <tag-Tree></tag-Tree></th>
          <th class="spotInfo"> {{spot.task}} </th>
          <th class="spotPoints"> {{spot.points}} </th>
        </tr>
      </table>

      <table class="table table-hover reviewsContainer" ng-repeat="review in tours.reviews">
        <tr>Reviews
          <th class="reviewBody"> {{review.body}} </th>
          <th class="reviewRating "> Rating: {{review.rating}} </th>
        </tr>
      </table>

  </div>
</div>

<footer class="footer">
  <div class="container">
    <button class="btn btn-default" type="button" ng-click="glhf()">Go Exploring!</button>
    <a ui-sref="tours"><button class="btn btn-default" type="button">Cancel</button></a>
  </div>
</footer>